// Basic theme modification for Bootstrap
$font-size-base: 0.625rem;
$h1-font-size: $font-size-base * 5;
$h2-font-size: $font-size-base * 4;
$h3-font-size: $font-size-base * 3.5;
$h4-font-size: $font-size-base * 3;
$h5-font-size: $font-size-base * 2.5;

// Define color variables, then add them to the $theme-colors map; You can add custom colors as well
$primary: #fe9100;
$secondary: #91536d;
//

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  // 'success': $success,
  // 'info': $info,
  // 'warning': $warning,
  // 'danger': $danger,
  // 'light': $light,
  // 'dark': $dark,
  "custom": rgb(85, 167, 37),
);
